.CartModal{
    .modal-content{
        height: 500px;
        .modal-herder{
            width: 100%;
            height: 50px;
            display: flex;
            background-color: #144da1;
            color: #fff;
            line-height: 52px;
            .modal_text{
                width: 100%;
                text-align: center;
                font-size: 19px;
                font-weight: bold;
                margin-left: 27px;
                .modal_close{
                    float: right;
                    width: 8%;
                    font-size: 21px;
                    &:hover{
                        cursor: pointer;
                        color: red;
                    }
                }

            }
            
        
        }
        .modal-body{
            padding: 0;
            height: 100px;
                .body-conten {
                    display: flex;
                    .TT-item {
                        width: 57%;
                        margin: 10px;
                      }
                    .Price-sum {
                        width: 50%;
                        height: 174px;
                        margin-top: 34px;
                        .content-containr {
                            height: 80%;
                            width: 80%;
                            text-align: center;
                            border: 1px solid red;
                            margin: auto;
                            border-radius: 11px;
                            .sum-title {
                                font-size: 20px;
                                font-weight: bold;
                                height: 40%;
                                line-height: 55px;
                                .sum{
                                    .sum-total {
                                        font-size: 16px;
                                        font-weight: 700;
                                    }
                                }
                            }
                        }
                    }
                }
             
            .modal-item{
                 height: 140px;
                .item-content{
                    display: flex;
                    height: 100%;
                    border-bottom: 3px solid #dee2e6;
                    .item-img{
                        height: 100%;
                        width: 30%;
                        border: 1px solid #00eeff;

                    }
                    .item-name{
                        width: 70%;
                         height: 100%;
                        border: 1px solid rgb(153, 0, 255);

                    }
                    .item-price{
                        width: 20%;
                         height: 100%;
                    border: 1px solid rgb(255, 0, 43);
                        
                    }

                }
            }


        }
        .modal-foodter{
            height: 50px;
            border-top: 2px solid #dee2e6;
            .btn-DH {
                text-align: center;
                margin: -22px;
                /* height: 10px; */
                .button-tt {
                    border: none;
                    height: 34px;
                    font-weight: bold;
                    font-size: 15px;
                    border-radius: 7px;
                    box-shadow: 1px 1px 1px 1px #6a0606;
                    &:hover{
                        cursor: pointer;
                        background-color: rgba(15, 37, 228, 0.842);
                        color: #fff;
                    }
                
                }
            }

        }
    }
    
}


