.CartModal{
    .modal-content{
        height: 500px;
        .modal-herder{
            width: 100%;
            height: 50px;
            display: flex;
            background-color: #144da1;
            color: #fff;
            line-height: 52px;
            .modal_text{
                width: 100%;
                text-align: center;
                font-size: 19px;
                font-weight: bold;
                margin-left: 27px;
                .modal_close{
                    float: right;
                    width: 8%;
                    font-size: 21px;
                    &:hover{
                        cursor: pointer;
                        color: red;
                    }
                }

            }
            
        
        }
        .modal-body{
            padding: 0;
            height: 100px;
                .body-conten {
                    display: flex;
                    .TT-item {
                        width: 57%;
                        margin: 10px;
                      }
                    .Price-sum {
                        width: 50%;
                        height: 174px;
                        margin-top: 34px;
                        .content-containr {
                            height: 80%;
                            width: 80%;
                            text-align: center;
                            border: 1px solid red;
                            margin: auto;
                            border-radius: 11px;
                            .sum-title {
                                font-size: 20px;
                                font-weight: bold;
                                height: 40%;
                                line-height: 55px;
                                .sum{
                                    .sum-total {
                                        font-size: 16px;
                                        font-weight: 700;
                                    }
                                }
                            }
                        }
                    }
                }
             
            .modal-item{
                 height: 140px;
                .item-content{
                    display: flex;
                    height: 100%;
                    border-bottom: 3px solid #dee2e6;
                    .item-img{
                        height: 81%;
                        width: 28%;
                        border-radius: 16px;
                        margin: 10px;

                    }
                    .item-name{
                        width: 70%;
                        height: 100%;
                        font-size: 20px;
                        font-weight: bold;
                        padding: 14px 6px;
                        .App {
                        width: 70%;
                        height: 100%;
                        font-size: 20px;
                        font-weight: bold;
                        padding: 14px 6px;
                        .quantity-picker {
                        display: inline-block;
                        border: 1px solid #d01a1d;
                        border-radius: 3px;
                        vertical-align: middle;
                        .quantity-modifier {
                            width: 16px;
                            font-size: 10px;
                            background: #f3f3f3;
                            color: #888;
                            border: 0 solid #dbdbdb;
                            text-align: center;
                            cursor: pointer;
                            height: 17px;
                            line-height: 12px;
                        }
                        .quantity-display {
                            width: 4rem;
                            /* padding: .5rem; */
                            font-size: 1.5rem;
                            border: 0;
                            border-top: 0 solid #dbdbdb;
                            border-bottom: 0 solid #dbdbdb;
                            text-align: center;
                            height: 22px;
                        }
                    }
                    }


                    }
                    .item-price{      
                        width: 20%;
                        height: 100%;
                        text-align: center;
                        line-height: 140px;
                        font-size: 18px;
                        .sum-total {
                            font-weight: bold;
                        }
                        .sum-total-d {
                            color: red;
                        }
                    }
                    

                }
            }


        }
        .modal-foodter{
            height: 50px;
            border-top: 2px solid #dee2e6;
            .btn-DH {
                text-align: center;
                margin: -22px;
                /* height: 10px; */
                .button-tt {
                    border: none;
                    height: 34px;
                    font-weight: bold;
                    font-size: 15px;
                    border-radius: 7px;
                    box-shadow: 1px 1px 1px 1px #6a0606;
                    &:hover{
                        cursor: pointer;
                        background-color: rgba(15, 37, 228, 0.842);
                        color: #fff;
                    }
                
                }
            }

        }
    }
    
}


