.reportThuoc{
    .container{
        .header{
            .herder-title{
                .title{

                }

            }

        }
        .body{
            .body-input{
                margin: 12px 0;
                .date-body {
                        margin-right: 5px;
                        
                    }
                .select3 {
                        display: flex;
                        width: 100%;
                        .download-table-xls-button {
                            width: 11%;
                            background-color: #2acd59;
                            margin-left: 10px;
                            border: none;
                            border-radius: 5px;
                            &:hover{
                                background-color:  #1a9738c4;
                            }
                        }
                        
                    }
                .body-table{
                   

                }

            }

        }

    }

}
table {
font-family: arial, sans-serif;
border-collapse: collapse;
width: 100%;
}

td, th {
border: 1px solid #dddddd;
text-align: left;
padding: 8px;
}

tr:nth-child(even) {
background-color: #dddddd;
}
.css-b62m3t-container {
    position: relative;
    box-sizing: border-box;
    width: 89%;
    
}


